<%- include('header') %>

<div class="result">
    <% if(error){ %>
        <%= error %>
    <% }else{ %>
        <%= quantidade %>$ na cotação <%= cotacao %>$ é igual a: <%= conversao %>R$.
    <% } %>
    
</div>

<%- include('footer') %>